.sign-in-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.sign-in-background {
  width: 100%;
  filter: blur(8px);
  height: 999px;
  display: flex;
  align-items: flex-start;
  -webkit-filter: blur(8px);
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/home_page_bg-1100h.jpg");
}
.sign-in-header {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
.sign-in-header-container {
  width: 100%;
  display: flex;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.sign-in-image-container {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.sign-in-logo {
  height: 2rem;
}
.sign-in-icon-group {
  display: flex;
}
.sign-in-menu {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.sign-in-menu1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.sign-in-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.sign-in-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.sign-in-dropdown-menu {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.sign-in-home {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.sign-in-home-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.sign-in-home-toggle:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.sign-in-home1 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.sign-in-sign-up {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.sign-in-sign-up-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.sign-in-sign-up-toggle:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.sign-in-sign-up1 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.sign-in-conjugation {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.sign-in-conjugation-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.sign-in-conjugation-toggle:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.sign-in-conjugation1 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.sign-in-words {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.sign-in-words-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.sign-in-words-toggle:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.sign-in-words1 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.sign-in-study {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.sign-in-study-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.sign-in-study-toggle:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.sign-in-study1 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.sign-in-search {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.sign-in-search1 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.sign-in-container1 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.sign-in-email {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.sign-in-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.sign-in-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
@media(max-width: 1600px) {
  .sign-in-background {
    height: 1032px;
    background-size: cover;
    justify-content: center;
    background-image: url("public/playground_assets/home_page_bg-1100h.jpg");
    background-position: center;
  }
  .sign-in-header {
    width: auto;
    height: auto;
    align-self: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .sign-in-header-container {
    top: 29px;
    left: 0px;
    right: 0px;
    width: auto;
    margin: auto;
    padding: var(--dl-space-space-unit);
    max-width: auto;
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-twounits);
    border-radius: 24px;
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
    background-color: #D9D9D9;
  }
  .sign-in-image-container {
    width: auto;
    height: auto;
    padding-left: 20px;
  }
  .sign-in-logo {
    width: 100px;
    height: 90px;
    margin-top: 0px;
    padding-left: 0px;
    border-radius: 24px;
  }
  .sign-in-icon-group {
    width: 126px;
    height: 54px;
  }
  .sign-in-menu {
    width: 38px;
    height: 35px;
    align-self: center;
  }
  .sign-in-dropdown-toggle {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .sign-in-icon {
    width: 34px;
    height: 33px;
  }
  .sign-in-home1 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .sign-in-sign-up1 {
    font-size: 14px;
  }
  .sign-in-conjugation1 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .sign-in-words1 {
    font-size: 14px;
  }
  .sign-in-study1 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .sign-in-search {
    width: auto;
    height: auto;
    align-self: center;
  }
  .sign-in-search1 {
    width: 45px;
    height: 33px;
    align-self: center;
  }
  .sign-in-container1 {
    top: 200px;
    left: 0px;
    right: 0px;
    width: 500px;
    bottom: 0px;
    height: 408px;
    margin: auto;
    align-items: center;
    border-color: #bfb2b2;
    border-width: 3px;
    border-radius: 35px;
    justify-content: center;
  }
  .sign-in-email {
    width: auto;
    height: auto;
    align-items: flex-start;
    padding-bottom: var(--dl-space-space-unit);
    justify-content: flex-start;
  }
  .sign-in-email1 {
    color: #9a8e8e;
    width: 420px;
    height: 72px;
    align-self: stretch;
    border-radius: 20px;
    background-color: rgba(10, 10, 10, 0.71);
  }
  .sign-in-container2 {
    left: 0px;
    right: 0px;
    width: auto;
    position: static;
    align-self: center;
    align-items: center;
    padding-top: var(--dl-space-space-unit);
    justify-content: center;
  }
  .sign-in-password {
    color: #9a8e8e;
    width: 420px;
    height: 67px;
    align-self: stretch;
    text-align: left;
    line-height: 1.1;
    border-radius: 20px;
    background-color: rgba(10, 10, 10, 0.71);
  }
  .sign-in-container3 {
    width: auto;
    height: auto;
    align-self: flex-end;
    padding-top: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .sign-in-button {
    color: rgba(10, 10, 10, 0.71);
    width: 106px;
    height: 35px;
    align-self: center;
    text-align: center;
    border-width: 0px;
    border-radius: 16px;
    background-color: rgb(217, 217, 217);
  }
}
@media(max-width: 1200px) {
  .sign-in-header {
    align-items: flex-start;
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
  }
  .sign-in-header-container {
    top: 62px;
    left: 3px;
    width: 1060px;
    padding: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .sign-in-header-container {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .sign-in-container {
    align-items: stretch;
    justify-content: flex-start;
  }
  .sign-in-header-container {
    padding: var(--dl-space-space-unit);
  }
}
