.conjugation-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #77dfe5;
}
.conjugation-container01 {
  flex: 0 0 auto;
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.conjugation-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 24px;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #D9D9D9;
}
.conjugation-image {
  height: 60px;
  border-radius: 18px;
}
.conjugation-icon-group {
  display: flex;
}
.conjugation-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.conjugation-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.conjugation-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.conjugation-dropdown-arrow {
  transition: 0.3s;
}
.conjugation-icon02 {
  width: 18px;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.conjugation-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: #ded6d6;
  list-style-position: inside;
}
.conjugation-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.conjugation-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.conjugation-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.conjugation-text {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.conjugation-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.conjugation-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.conjugation-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.conjugation-text01 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.conjugation-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.conjugation-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.conjugation-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.conjugation-text02 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.conjugation-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.conjugation-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.conjugation-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.conjugation-text03 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.conjugation-dropdown5 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.conjugation-dropdown-toggle5 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.conjugation-dropdown-toggle5:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.conjugation-text04 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.conjugation-dropdown6 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.conjugation-dropdown-toggle6 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.conjugation-dropdown-toggle6:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.conjugation-text05 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.conjugation-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  align-self: center;
}
.conjugation-container02 {
  flex: 0 0 auto;
  width: 200px;
  height: var(--dl-size-size-large);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.conjugation-container03 {
  flex: 0 0 auto;
  width: 618px;
  height: 404px;
  display: flex;
  align-items: flex-start;
  border-color: #0d283d;
  border-width: 3px;
  border-radius: 24px;
  flex-direction: column;
}
.conjugation-container04 {
  flex: 0 0 auto;
  display: flex;
  align-self: stretch;
  align-items: center;
  border-radius: 24px;
  justify-content: space-between;
  background-color: #63cff1;
  border-top-left-radius: 24;
  border-top-right-radius: 24;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.conjugation-container05 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.conjugation-code-embed {
  width: 203px;
  height: 29px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 10px;
}
.conjugation-container06 {
  flex: 0 0 auto;
  width: 90px;
  height: 34px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-left: 50px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: 160px;
  border-radius: 24px;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
  background-color: #57bdda;
}
.conjugation-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  justify-content: center;
}
.conjugation-text06 {
  color: rgb(41, 148, 70);
  align-self: center;
  padding-right: var(--dl-space-space-unit);
}
.conjugation-text09 {
  color: rgb(197, 22, 47);
}
.conjugation-container08 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: center;
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.conjugation-button {
  height: 34px;
  align-self: center;
  text-align: center;
  border-radius: 24px;
  text-transform: capitalize;
  background-color: rgb(87, 189, 218);
}
.conjugation-container09 {
  flex: 0 0 auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  border-color: #30304e;
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.conjugation-container10 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.conjugation-icon06 {
  width: 75px;
  height: 75px;
  align-self: flex-start;
}
.conjugation-text10 {
  align-self: center;
}
.conjugation-text13 {
  font-size: 40px;
  align-self: center;
  padding-left: 0px;
}
.conjugation-container11 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.conjugation-icon08 {
  width: 65px;
  height: 65px;
  align-self: flex-end;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.conjugation-text16 {
  align-self: center;
}
.conjugation-container12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.conjugation-text19 {
  align-self: center;
  padding-right: var(--dl-space-space-halfunit);
}
.conjugation-textinput {
  width: 188px;
  height: 32px;
}
.conjugation-text20 {
  align-self: center;
  padding-left: var(--dl-space-space-halfunit);
}
.conjugation-container13 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
.conjugation-button1 {
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  border-radius: 8px;
  margin-bottom: var(--dl-space-space-unit);
}
.conjugation-container14 {
  flex: 0 0 auto;
  width: 200px;
  height: var(--dl-size-size-large);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.conjugation-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.conjugation-image1 {
  width: auto;
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: 18px;
}
.conjugation-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.conjugation-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.conjugation-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.conjugation-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 767px) {
  .conjugation-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .conjugation-burger-menu {
    display: flex;
    align-items: center;
    margin-right: 16px;
    justify-content: center;
  }
  .conjugation-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .conjugation-text21 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .conjugation-container {
    align-items: stretch;
    justify-content: flex-start;
  }
  .conjugation-header {
    padding: var(--dl-space-space-unit);
  }
  .conjugation-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .conjugation-image1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .conjugation-text21 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.progress-bar {
  width: 200px;
  height: 28px;
  background-color: #f2f2f2;
  border-radius: 10px;
  overflow: hidden;
  
}

.progress {
  height: 100%;
  background-color: #4caf50;
  width: 0%;
  transition: width 0.5s ease-in-out;
  
}